<div class="container">
  <div class="centered">
    <div class="row g-4">
      <div class="col-lg-6">
        <mat-card>
          <a href="#">
            <img mat-card-image src="assets/img/food_item/food_item_2.png" alt="Image">
          </a>
        </mat-card>
      </div>
      <div class="col-lg-6">
        <mat-card>
          <mat-card-title>
            <h2 class="fw-bold fw-uppercase">{{plat.name}}</h2>
          </mat-card-title>
          <mat-card-content>
            <p class="fw-uppercase">Category: <span class="fw-bold">{{plat.category}}</span> </p>
            <h4 class="fw-bold">{{plat.price}} $</h4>
            <div class="d-flex mb-4">
              <mat-icon *ngFor="let star of getStars()">{{ star }}</mat-icon>
            </div>

            <p>{{plat.description}}</p>
            <div class="quantity-wrapper">
              <button mat-icon-button color="primary" (click)="decreaseQuantity()" [disabled]="quantity <= 1">
                <mat-icon>remove</mat-icon>
              </button>

              <mat-form-field appearance="outline" style="width: 60px; text-align: center;">
                <input matInput type="number" [(ngModel)]="quantity" [min]="1" readonly>
              </mat-form-field>

              <button mat-icon-button color="primary" (click)="increaseQuantity()">
                <mat-icon>add</mat-icon>
              </button>
            </div>

            <button mat-raised-button color="primary" class="btn" (click)="goToCheckout()">Add to cart</button>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <mat-tab-group>
      <mat-tab label="Description">
        <p>The generated Lorem Ipsum is therefore always free from repetition injected humour, or non-characteristic
          words etc.
          Susp endisse ultricies nisi vel quam suscipit </p>
        <p>Sabertooth peacock flounder; chain pickerel hatchetfish, pencilfish snailfish filefish Antarctic
          icefish goldeye aholehole trumpetfish pilot fish airbreathing catfish, electric ray sweeper.</p>

      </mat-tab>
      <mat-tab label="Reviews">
        <app-review #reviewsComponent [plat]="plat" (editReviewEvent)="onReviewEdit($event)"></app-review>
      </mat-tab>

    </mat-tab-group>
    <app-add-review [plat]="plat" [reviewToEdit]="selectedReview"
      (reviewChanged)="onReviewChanged($event)"></app-add-review>
  </div>
</div>