<h2 mat-dialog-title class="dialog-title">
    Order Added to Cart
  </h2>
  <mat-dialog-content class="dialog-content">
    <p>
      Your order has been successfully added to the cart.
    </p>
  </mat-dialog-content>
  <mat-dialog-actions align="end" class="dialog-actions">
    <button mat-raised-button class="flash-button" color="primary" (click)="onContinue()">Continue Ordering</button>
    <button mat-raised-button class="cart-button" (click)="goToCart()">Go to Cart</button>
  </mat-dialog-actions>
  