.dialog-title {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;

  mat-icon {
    font-size: 2rem;
  }
}

.dialog-content {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 1.5rem;

  p {
    margin: 0;
  }
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;

  button {
    margin-left: 8px;

    &:first-child {
      margin-left: 0;
    }
  }
  .cart-button{
    color: #ff6426;
  }
}
