<div class="d-flex" style="padding-top: 90px;" >
    <img mat-card-avatar src="assets/img/post/post_1.png" alt="Avatar">
    <div>
      <p class="mb-2" style="font-size: 14px;">April 12, 2024</p>
      <h5>Jason Smith</h5>
      <div class="d-flex">
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star_half</mat-icon>
      </div>
      <p>The generated Lorem Ipsum is therefore always free from repetition injected humour, or non-characteristic
        words etc. Susp endisse ultricies nisi vel quam suscipit </p>
    </div>
  </div>
  <div class="d-flex mt-4">
    <img mat-card-avatar src="assets/img/post/post_2.png" alt="Avatar">
    <div>
      <p class="mb-2" style="font-size: 14px;">April 12, 2024</p>
      <h5>Sam Peters</h5>
      <div class="d-flex">
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star_half</mat-icon>
        <mat-icon>star</mat-icon>
      </div>
      <p>The generated Lorem Ipsum is therefore always free from repetition injected humour, or non-characteristic
        words etc. Susp endisse ultricies nisi vel quam suscipit </p>
    </div>
  </div>