.btn-disabled {
  background-color: #d6d6d6;
  /* Light gray color */
  border-color: #d6d6d6;
  /* Matching border color */
  color: #7a7a7a;
  /* Gray text color */
  cursor: not-allowed;
  /* Change the cursor to show it's disabled */
}

mat-card {
  padding: 3rem;
}

mat-card-title {
  text-transform: uppercase;
  font-weight: 600;
}

a {
  text-decoration: underline;
  color: #ff6426 !important;
  text-transform: uppercase;
}