.btn-disabled {
    background-color: #d6d6d6; /* Light gray color */
    border-color: #d6d6d6;    /* Matching border color */
    color: #7a7a7a;           /* Gray text color */
    cursor: not-allowed;      /* Change the cursor to show it's disabled */
  }
  
  