<!-- <mat-card class="menu-card">
  <mat-card-header>
    <div mat-card-avatar class="avatar-icon">
      <mat-icon style="font-size: 1rem;">restaurant</mat-icon>
    </div>
    <mat-card-title style="text-transform: uppercase;">{{ item.name }}</mat-card-title>
    <mat-card-subtitle>{{ item.description }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/img/food_item/food_item_1.png" alt="" />
  <mat-card-content>
    <p>Price: ${{ item.price }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="goToDetails(item.id)">
      Show details
    </button>
  </mat-card-actions>
</mat-card> -->

<div id="menu" class="menu-item">
  <img [src]="getImageByCategory(item.category)" alt="{{ item.name }}" id="menu-img">
  
  <div class="menu-content">
    <a href="#">{{ item.name }}</a>
    <span>{{ item.price }} DT</span>
  </div>
  
  <div class="menu-ingredients">
    {{ item.description }}
  </div>
   <a matTooltip="Show details" matTooltipPosition="right" (click)="goToDetails(item.id)" class="btn_3">
  <img src="assets/img/icon/left_2.svg" alt="">
</a>


</div>
